.topmenu.menu {
  box-shadow: none;
  border: none;
}

#Top\ Menu\ Bar {
  background: #f5f5f5;
}

.centered.top.image {
  padding-top: 10px;
  padding-bottom: 10px;
}

a.right.item {
  padding: 0!important;
}